{% extends 'blogengine/base.html'%}

{%block title%}
    Update Tag: {{ form.title.value}}
{% endblock %}


{%block content%}
<form action="{%url 'tag_update_url' slug=tag.slug%}" method="post">
    {%csrf_token%}

    {%for field in form%}
        <div>
            {{field.label}}
            <p>{{field}}</p>
            {% if field.errors%}
            <div class="alert alert-danger">{{field.errors}}</div>
            {%endif%}
        </div>
    {%endfor%}

    <button class="btn btn-warning" type="submit">Изменить</button>
    <a class="btn btn-secondary" href="{{tag.get_absolute_url}}">Отменить</a>

</form>

{%endblock%}